certifi
charset-normalizer
click
colorama
dominate
Flask
Flask-JSONRPC
Flask-Login
flask-sock
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
h11
idna
importlib-metadata
Jinja2
MarkupSafe
mypy-extensions
psycopg2-binary
requests
simple-websocket
SQLAlchemy
typeguard
typing-extensions
typing-inspect
urllib3
visitor
Werkzeug
wsproto
WTForms
zipp