{% extends "room.html" %}

{% block content %}

<div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/nyx.png">
      </div>
      <div class="card-outer-light"></div>
    </div>

    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/anarki.png">
      </div>
      <div class="card-outer-light"></div>
    </div>
    
    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/slash.png">
      </div>
      <div class="card-outer-light"></div>
    </div>

    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/athena.png">
      </div>
      <div class="card-outer-light"></div>
    </div>

    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/ranger.png">
      </div>
      <div class="card-outer-light"></div>
    </div>

    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/visor.png">
      </div>
      <div class="card-outer-light"></div>
    </div>

    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/galena.png">
      </div>
      <div class="card-outer-light"></div>
    </div>

    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/bj.png">
      </div>
      <div class="card-outer-light"></div>
    </div>

    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/doom.png">
      </div>
      <div class="card-outer-light"></div>
    </div>

    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/strogg.png">
      </div>
      <div class="card-outer-light"></div>
    </div>

    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/deathknight.png">
      </div>
      <div class="card-outer-light"></div>
    </div>
    
    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/eisen.png">
      </div>
      <div class="card-outer-light"></div>
    </div>

    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/clutch.png">
      </div>
      <div class="card-outer-light"></div>
    </div>

    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/sorlag.png">
      </div>
      <div class="card-outer-light"></div>
    </div>

    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/scalebearer.png">
      </div>
      <div class="card-outer-light"></div>
    </div>

    <div class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="https://dev.quake-champions.com/css/images/champions/keel.png">
      </div>
      <div class="card-outer-light"></div>
      
    </div>
{% endblock %}