{% extends "room.html" %}

{% block content %}
<div class="choice-wrapper-champ">
    <label id="nyx" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/nyx.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="nyx" type="checkbox">
    </label>

    <label id="anarki" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/anarki.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="anarki" type="checkbox">
    </label>

    <label id="slash" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/slash.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="slash" type="checkbox">
    </label>

    <label id="athena" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/athena.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="athena" type="checkbox">
    </label>

    <label id="ranger" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/ranger.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="ranger" type="checkbox">
    </label>

    <label id="visor" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/visor.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="visor" type="checkbox">
    </label>

    <label id="galena" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/galena.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="galena" type="checkbox">
    </label>

    <label id="bj" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/bj.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="bj" type="checkbox">
    </label>

    <label id="doom" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/doom.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="doom" type="checkbox">
    </label>

    <label id="strogg" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/strogg.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="strogg" type="checkbox">
    </label>

    <label id="deathknight" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/deathknight.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="deathknight" type="checkbox">
    </label>
    
    <label id="eisen" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/eisen.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="eisen" type="checkbox">
    </label>

    <label id="clutch" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/clutch.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="clutch" type="checkbox">
    </label>

    <label id="sorlag" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/sorlag.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="sorlag" type="checkbox">
    </label>

    <label id="scalebearer" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/scalebearer.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="scalebearer" type="checkbox">
    </label>

    <label id="keel" class="card card-champ">
      <div class="card-image-wrapper">
        <img class="card-image" src="/static/images/champions/keel.png">
      </div>
      <div class="card-outer-light"></div>
      <input name="keel" type="checkbox">
    </label>
</div>
{% endblock %}