{# {% extends "bootstrap/base.html" %} #}

{# {% block content %} #}
<main>Waiting for another player</main>


    <!-- шаблоны статусов игры -->
    <template id='map'>
        <section>MAP PICKING</section>
        <input id='check1' type="checkbox">
        <input id='check2' type="checkbox">
    </template>

    <template id='champ'>
        <section>CHAMP PICKING</section>
        <input id='check1' type="checkbox">
        <input id='check2' type="checkbox">
    </template>

    <template id='result'>
        <section>RESULTS TABLE</section>
        <input id='check1' type="checkbox">
        <input id='check2' type="checkbox">
    </template>
{# {% endblock %} #}




<script>
    const endPoint = "http://127.0.0.1:5000/state"
    var currentState = 'start'

    function sendRequest(method, url) {
    return new Promise((resolve, reject) => {
        const xhr =new XMLHttpRequest()
        xhr.open(method, url)
        xhr.responseType = 'json'
        xhr.onload = () => {
        if (xhr.status >= 400) {
            reject(xhr.response)
        } else {
            resolve(xhr.response)
        }
        }
        xhr.onerror = () => {
        reject(xhr.response)
        }
        xhr.send()
    })
    }

    function updatePage(){
    sendRequest("GET", endPoint).then(
        function(response){
            console.log(currentState)

            // загружаем template при смене статуса игры
            if (currentState != response['result']) {
                // находим элемент куда вставлять и что вставлять
                var main = document.querySelector('main')
                var template = document.querySelector('#' + response['result'])

                // клонируем template
                var tempClone = template.content.cloneNode(true)
                // очищаем основной блок
                main.innerHTML = ""
                // вставляем клон в основной блок
                main.appendChild(tempClone)
                currentState = response['result']
            }
        },
        function(error) {
            console.error("Failed!", error)
        })
    }
    setInterval(updatePage, 5000)

</script>