{% extends "bootstrap/base.html" %}

{% block title %}Picking{% endblock %}

{% block content %}

    <main class="d-flex vh-100 w-auto justify-content-center align-items-center bg-dark">
        <form class="form__custom d-flex flex-column border rounded-3 px-5 pb-3" method="POST" action="{{ url_for('maps_form', action=action) }}" novalidate>

            {{ form.csrf_token }}

            <!-- заголовок формы -->
            <h1 class="mt-5 text-light">Pick Map</h1>

            <!-- поля формы -->
            <label class="my-2 text-light form-label">{{ form.map01.label }}</label>
            {{ form.map01 }}
            <label class="my-2 text-light form-label">{{ form.map02.label }}</label>
            {{ form.map02 }}
            <label class="my-2 text-light form-label">{{ form.map03.label }}</label>
            {{ form.map03 }}
            <label class="my-2 text-light form-label">{{ form.map04.label }}</label>
            {{ form.map04 }}
            <label class="my-2 text-light form-label">{{ form.map05.label }}</label>
            {{ form.map05 }}
            <label class="my-2 text-light form-label">{{ form.map06.label }}</label>
            {{ form.map06 }}
            <label class="my-2 text-light form-label">{{ form.map07.label }}</label>
            {{ form.map07 }}
            <!-- кнопка подтверждения формы -->
            {{ form.submit(class_="ms-2 my-5 form-control btn-primary") }}

        </form>
    </main>
    <script>
        // получаем список всех кнопок выбора
        let buttons = document.querySelectorAll("input[type=checkbox]")
        function champOnClick(obj) {
            obj.checked = true;
        }
        function clearCheck() {
            buttons.forEach(button => {
            button.checked = false 
            })
        }

        buttons.forEach(button => {
            // вешаем листенер нажатия на кнопки
            button.addEventListener('click', function () {
            // функция выполнится при нажатии.
                // this это текущий элемент по которому был произведен клик
                clearCheck()
                champOnClick(this)
            });
        });
    </script>


{% endblock %}