<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> #}
        
        <!-- custom CSS -->
        <link href="/static/css/style.css" rel="stylesheet">
        
        <!-- custom Head -->
        {% block head %}{% endblock %}
        
        <title>{% block title %}{% endblock %}</title>
        
    </head>
    <body>

        <button onclick="window.switchMode('ws')">switchMode</button>
        <script type="module">
            import { switchMode } from "/static/js/main.js";
            window.switchMode = switchMode;
        </script>

        <!-- Background text -->
        {% if game_state.current_player %}
            {% if game_state.current_object_type == "map" %}
            <div class="custom__container picking-maps">
            {% elif game_state.current_object_type == "champ" %}
            <div class="custom__container picking-champs">
            {% elif game_state.current_object_type == "result" %}
            <div class="custom__container picking-results">
            {% endif %}
        {% else %}
            <div class="custom__container waiting-opponent">
        {% endif %}

        <!-- Player one -->
        <div class="player-card blue">
            <div class="player-card-wrapper">
                <div class="player-photo">
                    {# TODO добавить пути до постеров в новую таблицу в БД связанную с Users #}
                    <img src='https://pngimg.com/uploads/thief/thief_PNG36.png' width="100%">
                </div>
                <div class="player-info">
                    <div class="country-wrapper">
                        <h2></h2>
                        <img class="country-flag invisible" src="">
                    </div>
                    {# TODO добавить пути до иконок в новую таблицу в БД связанную с Users #}
                    <img class="team-logo" src="../static/images/python_logo.png" width="100%">
                    
                    {# Определяем какой игрок справа, а какой слева. #}
                    {% if game_state.players[0].team == 'blue' %}
                        {% set index = 0 %}
                    {% else %}
                        {% set index = 1 %}
                    {% endif %}
                    {% set player1 = game_state.players[index] %}
                    {% set player2 = game_state.players[index+1] %}

                    <h1>{{ player1.nickname }}</h1>
                </div>
            </div>
        </div>
        
        <!-- Sounds -->
        <audio id="start" src="/static/audio/start.wav"></audio>
        <audio id="choice" src="/static/audio/choice.wav"></audio>
        
        <!-- Champs and maps -->
        <main>
        {% block content %}

            <h1 class="versus">vs</h1>
        
        {% endblock %}
        </main>

        <!-- Player two -->
        <div class="player-card red">
            <div class="player-card-wrapper">
                <div class="player-photo">
                    {# TODO добавить пути до постеров в новую таблицу в БД связанную с Users #}
                    <img src='https://pngimg.com/uploads/hacker/hacker_PNG29.png' width="100%">
                </div>
                <div class="player-info">
                    <div class="country-wrapper">
                        <h2></h2>
                        <img class="country-flag invisible" src="">
                    </div>
                    <div>
                        {# TODO добавить пути до иконок в новую таблицу в БД связанную с Users #}
                        <img class="team-logo" src="../static/images/python_logo.png" width="100%">
                        {% if player2 %}
                            <h1>{{ player2.nickname }}</h1>
                        {% else %}
                            <h1>???</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- JS Modules -->
        <script src="/static/js/main.js" type="module"></script>
        <script src="/static/js/utils.js" type="module"></script>
        <script src="/static/js/xhr.js" type="module"></script>
        <script src="/static/js/ws.js" type="module"></script>
        
        <!-- Templates -->
        
        <!-- Maps -->
        <template id="maps">
            <h1 class="choices-heading">Nickname action</h1>
            <div class="choice-wrapper-map">
            {% for mep in game_state["maps"] %}
                <label id="{{ mep['short_name'] }}" class="card card-map">
                    <div class="card-image-wrapper">
                        <img class="card-image" src="{{ mep['img_url'] }}">
                    </div>
                    <div class="card-outer-light"></div>
                    <input name="{{ mep['short_name'] }}" type="checkbox">
                </label>
            {% endfor %}
            </div>
        </template>

        <!-- Champions -->
        <template id="champs">
            <h1 class="choices-heading">Nickname action</h1>
            <div class="choice-wrapper-champ">
            {% for champ in game_state["champs"] %}
                <label id="{{ champ['short_name'] }}" class="card card-champ">
                    <div class="card-image-wrapper">
                        <img class="card-image" src="{{ champ['img_url'] }}">
                    </div>
                    <div class="card-outer-light"></div>
                    <input name="{{ champ['short_name'] }}" type="checkbox">
                </label>
            {% endfor %}
        </template>
    </body>
</html>